In [77]:
import os, sys
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.datasets import load_iris
from mpl_toolkits import mplot3d
from matplotlib import dates as date
import seaborn as sns; sns.set() 
from scipy import stats
plt.style.use("fivethirtyeight")

In [596]:
#Import datasets
cars1=pd.read_csv("data/cars1.csv")
cars2=pd.read_csv('data/cars2.csv')
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,NaN,NaN,NaN,NaN,NaN
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,NaN,NaN,NaN,NaN,NaN
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,NaN,NaN,NaN,NaN,NaN
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,NaN,NaN,NaN,NaN,NaN
4,17.0,8,302,140,3449,10.5,70,1,ford torino,NaN,NaN,NaN,NaN,NaN

In [598]:
#Delete unnamed columns in cars1
cars1=cars1.loc[:,'mpg':'car']

In [599]:
#Number of obs in each dataset
print(cars1.shape)
print(cars2.shape)

(198, 9)
(200, 9)

In [600]:
#Join cars1 and cars2 into dataset called cars
cars=cars1.append(cars2)

In [601]:
#Make owners column with random integers from 15000 to 73000
cars['owners']=np.random.randint(15000,73000,398)