In [316]:
import os, sys
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.datasets import load_iris
from pandas_datareader.data import DataReader
from mpl_toolkits import mplot3d
from matplotlib import dates as date
import seaborn as sns; sns.set() 
from scipy import stats
from datetime import datetime
plt.style.use("fivethirtyeight")

In [512]:
#Import dataset
url="https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data"
wine=pd.read_csv(url)

In [513]:
#Delete some columns
wine.iloc[:,[0,3,6,8,10,12,13]]=None
wine=wine.dropna(axis=1)

In [514]:
#Assign names to columns
col=['alcohol','malic_acid','alcalinity_of_ash','magnesium','flavanoids',
    'proanthocyanins','hue']
wine.columns=col
wine.head()

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,13.20,1.78,11.2,100,2.76,1.28,1.05
1,13.16,2.36,18.6,101,3.24,2.81,1.03
2,14.37,1.95,16.8,113,3.49,2.18,0.86
3,13.24,2.59,21.0,118,2.69,1.82,1.04
4,14.20,1.76,15.2,112,3.39,1.97,1.05

In [515]:
#Set values of first 3 rows from alcohol as NaN
wine.loc[:2,'alcohol']=None

In [516]:
#Set values of rows 3 and 4 in mangesium as NaN
wine.loc[2:3,'magnesium']=None

In [517]:
#Fill the value of NaN with the number 10 in alcohol and 100 in magnesium
wine.alcohol=wine.alcohol.fillna(10)
wine.magnesium=wine.magnesium.fillna(100)

In [518]:
#Count number of missing values
wine.isnull().sum()

alcohol              0
malic_acid           0
alcalinity_of_ash    0
magnesium            0
flavanoids           0
proanthocyanins      0
hue                  0
dtype: int64

In [519]:
#Create an array of 10 random number up until 10
r=np.random.randint(1,10,10)

In [520]:
#Set rows of the random numbers in the column alcohol as NA
wine.alcohol[r]=None

In [521]:
#How many missing values do we have
wine.isnull().sum()

alcohol              6
malic_acid           0
alcalinity_of_ash    0
magnesium            0
flavanoids           0
proanthocyanins      0
hue                  0
dtype: int64

In [522]:
#Delete rows that contain missing values
wine=wine.dropna(axis=0)

In [524]:
#Reset index
wine=wine.reset_index()
wine.head()

,index,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,0,10.00,1.78,11.2,100.0,2.76,1.28,1.05
1,1,10.00,2.36,18.6,101.0,3.24,2.81,1.03
2,4,14.20,1.76,15.2,112.0,3.39,1.97,1.05
3,5,14.39,1.87,14.6,96.0,2.52,1.98,1.02
4,10,14.12,1.48,16.8,95.0,2.43,1.57,1.17