In [316]:
import os, sys
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.datasets import load_iris
from pandas_datareader.data import DataReader
from mpl_toolkits import mplot3d
from matplotlib import dates as date
import seaborn as sns; sns.set() 
from scipy import stats
from datetime import datetime
plt.style.use("fivethirtyeight")

In [372]:
#Select stocks and start and end time
stocks=['AAPL','TSLA','IBM','LNKD']

start=datetime(2015,1,1)
end=datetime.today()
end

datetime.datetime(2017, 8, 6, 7, 57, 0, 329943)

In [373]:
#Read data from google
df=DataReader(stocks,start=start,end=end,data_source='google')

In [380]:
#What time of item is this dataframe
df

<class 'pandas.core.panel.Panel'>
Dimensions: 5 (items) x 653 (major_axis) x 4 (minor_axis)
Items axis: Open to Volume
Major_axis axis: 2015-01-02 00:00:00 to 2017-08-04 00:00:00
Minor_axis axis: AAPL to TSLA

In [382]:
#Create a dataframe with volume values
vol=df['Volume']

In [395]:
#Find volume traded in the year of 2015
vol['week']=vol.index.week
vol['year']=vol.index.year

week=vol.groupby(['week','year']).sum()
week.head()

                  AAPL         IBM       LNKD        TSLA
week year
1    2015   53204626.0   5525466.0  1203743.0   4764443.0
     2016  343422014.0  25233098.0  6630485.0  20967926.0
     2017  103845468.0  11943568.0        NaN  28576313.0
2    2015  283252615.0  24458400.0  7203125.0  22709607.0
     2016  302072797.0  29379214.0  9160521.0  22997290.0

In [402]:
#Find all the volume traded in the year of 2015
year=vol.groupby(['year']).sum()
year

              AAPL           IBM         LNKD          TSLA
year
2015  1.301994e+10  1.100959e+09  440376163.0  1.085839e+09
2016  9.625820e+09  1.016418e+09  566013298.0  1.158094e+09
2017  3.986870e+09  6.210671e+08          NaN  1.004067e+09